#second-section{
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	background-color:#464646;
}
.inner-items-wrapper{
	width:175px;
	height: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 199;
	text-align: center;
}
.sign-route{
	font-family: Comfortaa;
	color:	#fd9a74;
	text-align: center;
}
.press-triangles{
	font-family: Comfortaa;
	font-size: 12px;
	color:white;
}
.orange