/*general settings*/

html,body{
	margin:0;
	padding: 0;
}
::-webkit-scrollbar {
	display: none;
}
#page-counter{
	font-family: Comfortaa;
	position: fixed;
	width: 70px;
	height: 200px;
	margin: auto;
	top: 48%;
	right: 25px;
	z-index: 199;
	color: #464646;
}
#page-counter div{
	margin: 0 0 15px 0;
	transform: rotate(90deg);
	font-weight: 600;
}
.orange{
	color:#fd9a74;
}

/*first section*/

#first-section{
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	font-family: Comfortaa;
}
.diagonal-box-1 {
	display:none;
	background-color: #fde574;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -50%;
	z-index: 10;
	transform: skew(45deg);
	-o-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}
.diagonal-box-2 {
	display:none;
	background-color: #fd9a74;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: -50%;
	transform: skew(45deg);
	-o-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}
header{
	padding: 30px;
	display: flex;
	position: relative;
	z-index: 99;
	justify-content: space-between;
}
.logo{
	background-image: url('/img/logo.png');
	width: 170px;
	height: 111px;
}
.menu{
	padding:20px;
	display: flex;
	justify-content: space-between;
}

nav{
	margin-right: 20px;
	height:20px;
	font-size: 14px;
}
nav,
#page-counter,
.down-scroll-arrow,
.chose-language{
	transition: all .2s ease-in-out;
}
nav:hover,
#page-counter:hover,
.down-scroll-arrow:hover,
.chose-language:hover {
	cursor: pointer;
}
nav:active,
.down-scroll-arrow{
	transform: scale(.9);
}
nav.contacts{
	margin-right: 25px;
}
nav.to-book{
	border: 3px solid #009991;
	border-radius: 20px;
	padding: 17px 40px 13px 40px;
	margin-top: -18px;
}
nav.to-book:hover{
	background-color: #009991;
	color: #fff;
}

.peter-and-horse{
	background-image: url('/img/peter_and_horse.png');
	width:499px;
	height: 439px;
	position: absolute;
	margin: auto;
	top: -122px;
	right: 0;
	bottom: 0;
	left: 0;
	transform: rotate(-1.5deg);
	z-index: 199;
}
.walks-on-foot {
	width: 350px;
	height: 150px;
	position: absolute;
	margin: auto;
	top: 45%;
	left: 45px;
	font-weight: 600;
	font-size: 34px;
	z-index: 199;
	line-height: 66px;
	color:#464646;
}

.chose-language{
	width: 70px;
	height: 40px;
	position: absolute;
	margin: auto;
	top: 95%;
	left: 45px;
	font-weight: 600;
	font-size: 13px;
	z-index: 199;
	color:#464646;
}
.down-scroll-arrow{
	background-image: url('/img/down_scroll_arrow.png');
	width:25px;
	height:49px;
	position: absolute;
	margin: auto;
	right: 0;
	bottom: 5%;
	left: 0;
	z-index: 199;
}

/*second section*/

#second-section{
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	background-color:#464646;
}
.inner-items-wrapper{
	width:175px;
	height: 200px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 199;
	text-align: center;
}
.sign-route{
	font-family: Comfortaa;
	color:	#fd9a74;
	text-align: center;
}
.press-triangles{
	font-family: Comfortaa;
	font-size: 12px;
	color:white;
}

/* third-section-image-carousel-pop-up */

#third-section-img-pop-up {
	position: absolute;
	width: 100%;
	height:100vh;
	font-family: Comfortaa;
	background: #282828;
	display: none;
	z-index: 999;
}

/*third-section*/

#third-section{
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	font-family: Comfortaa;
	background-color:#464646;
}
.third-section-wrapper{
	max-width: 1200px;
	max-height: 750px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.upper-bundle, .middle-bundle, .bottom-bundle{
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
}
.up-part,.mid-part,.bot-part{
	width:200px;
	height:250px;

}
.mid-part{


	overflow: visible;
	position: relative;
}
.up-part div,.mid-part div,.bot-part div{
	position: absolute;
	top: 0;
	width: 200px;
	height: 250px;
	opacity: .1;
}

.one-up{
	background: url(/img/route/angel.png);
	left: 0;
}
.one-up:hover{
	background: url(/img/route/hover/angel.png);
	left: 0;
}
.two-up{
	background: url(/img/route/hermitage.png);
	left: 200px;
}
.two-up:hover{
	background: url(/img/route/hover/hermitage.png);
	left: 200px;
}
.three-up{
	background: url(/img/route/pushkin.png);
	left: 400px;
}
.three-up:hover{
	background: url(/img/route/hover/pushkin.png);
	left: 400px;
}
.four-up{
	background: url(/img/route/rus-museum.png);
	left: 600px;
}
.four-up:hover{
	background: url(/img/route/hover/rus-museum.png);
	left: 600px;
}
.five-up{
	background: url(/img/route/bronze-horseman.png);
	left: 800px;
}
.five-up:hover{
	background: url(/img/route/hover/bronze-horseman.png);
	left: 800px;
}
.six-up{
	background: url(/img/route/camel.png);
	left: 1000px;
}
.six-up:hover{
	background: url(/img/route/hover/camel.png);
	left: 1000px;
}

.canvas{
	border:1px solid white;
}

.one-mid{
	background: url(/img/route/atlant.png);
	left: 0;
}
.one-mid:hover{
	position: absolute;
	background: url(/img/route/hover/atlant.png);
	left: 0;
	top:-41px;
	width:200px!important;
	height:282px!important;

}
.two-mid{
	left: -100px;
	transform: skew(141deg);
}
.two-mid:after{
	content: "";
	transform: skewX(-141deg);
	background: url(/img/route/anichkov-bridge.png);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.two-mid:hover:after{
	position: absolute;
	transform: skewX(-141deg);
	left:83px;
	top:-15px;
	background: url(/img/route/hover/anichkov-bridge.png);
	width:205px!important;
	height:254px!important;
}
.three-mid{
	left: 100px;
	transform: skew(141deg);
}
.three-mid:after{
	content: "";
	transform: skewX(-141deg);
	background: url(/img/route/zingers-house.png);
	position: absolute;
	left:-100px;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.three-mid:hover:after{
	position: absolute;
	transform: skewX(-141deg);
	background: url(/img/route/hover/zingers-house.png);
}
.four-mid{
	left:-100px;
	transform: skew(39deg);
}
.four-mid:after{
	content: "";
	transform: skew(-39deg);
	background: url(/img/route/krylov.png);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;

}
.four-mid:hover:after{
	position: absolute;
	transform: skewX(-39deg);
	background: url(/img/route/hover/krylov.png);
}
.five-mid{
	left:100px;
	transform: skew(39deg);
}
.five-mid:after{
	content: "";
	transform: skew(-39deg);
	background: url(/img/route/michaels-horse.png);
	position: absolute;
	left:-100px;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.five-mid:hover:after{
	content: "";
	transform: skew(-39deg);
	background: url(/img/route/hover/michaels-horse.png);
	position: absolute;
	left:-85px;
	top:-31px;
	width: 100%;
	height: 274px!important;
	z-index:-1;
}
.six-mid{
	left:-100px;
	transform: skew(141deg);
}
.six-mid:after{
	content: "";
	transform: skew(-141deg);
	background: url(/img/route/eliseevs-house.png);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.six-mid:hover:after{
	content: "";
	transform: skew(-141deg);
	background: url(/img/route/hover/eliseevs-house.png);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.seven-mid{
	left:100px;
	transform: skew(141deg);
}
.seven-mid:after{
	content: "";
	transform: skew(-141deg);
	background: url(/img/route/kathrine.png);
	position: absolute;
	left:-100px;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.seven-mid:hover:after{
	position: absolute;
	transform: skewX(-141deg);
	left:-100px;
	background: url(/img/route/hover/kathrine.png);
}
.eight-mid{
	left:-100px;
	transform: skew(39deg);
}
.eight-mid:after{
	content: "";
	transform: skew(-39deg);
	background: url(/img/route/kazansky.png);
	position: absolute;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.eight-mid:hover:after{
	content: "";
	transform: skew(-39deg);
	background: url(/img/route/hover/kazansky.png);
	position: absolute;
}
.nine-mid{
	left:100px;
	transform: skew(39deg);
}
.nine-mid:after{
	content: "";
	transform: skew(-39deg);
	background: url(/img/route/alex-the-II.png);
	position: absolute;
	left:-100px;
	width: 100%;
	height: 100%;
	z-index:-1;
}
.nine-mid:hover:after{
	transform: skew(-39deg);
	background: url(/img/route/hover/alex-the-II.png);
	position: absolute;
	left:-85px;
	top:-30px;
	width: 100%;
	height: 270px!important;
	z-index:-1;
}
.ten-mid{
	background: url(/img/route/piter-the-woodwoker.png);
	left: 0;
}
.ten-mid:hover{
	position: absolute;
	background: url(/img/route/hover/piter-the-woodwoker.png);
	left: 0;
}
.one-bot{
	background: url(/img/route/spas-on-blood.png);
	left: 200px;
}
.one-bot:hover{
	background: url(/img/route/hover/spas-on-blood.png);
	left: 200px;
	top:-127px;
	width:200px!important;
	height:371px!important;
}
.two-bot{
	background: url(/img/route/suvorov.png);
	left: 400px;
}
.two-bot:hover{
	background: url(/img/route/hover/suvorov.png);
	left: 400px;
	top:-29px;
	width:200px!important;
	height:271px!important;
}
.three-bot{
	background: url(/img/route/theatre.png);
	left: 600px;
}
.three-bot:hover{
	background: url(/img/route/hover/theatre.png);
	left: 600px;
}
.four-bot{
	background: url(/img/route/lomonosov.png);
	left: 800px;
}
.four-bot:hover{
	background: url(/img/route/hover/lomonosov.png);
	left: 800px;
	top:-9px;
	width:200px!important;
	height:254px!important;
}
/*fourth section*/

#fourth-section{
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	font-family: Comfortaa;
}
.diagonal-box-3 {
	display:none;
	background-color: #fde574;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -50%;
	z-index: 10;
	transform: skew(45deg);
	-o-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}
.diagonal-box-4 {
	display:none;
	background-color: #fd9a74;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: -50%;
	transform: skew(45deg);
	-o-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-webkit-transform: skew(45deg);
}
.fourth-section-wrapper{
	max-width: 1200px;
	max-height: 750px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.advantage-text,.prices-text{
	position:absolute;
	width:200px;
	height:30px;
	font-size:26px;
	font-weight: 600;
	color:#464646;
	z-index: 199;
	top:5%;
	left:5%;
}
.prices-text{
	top:45%;
	left:5%;
}
.advantages{
	position: absolute;
	top:15%;
	display: flex;
	justify-content: space-between;
	align-content:space-between;
}
.advantages div{
	width: 200px;
	height:200px;
	z-index: 299;
	margin-right: 45px;
}
.price-block{
	display: flex;
	align-content: center;
	justify-content: center;
	position: relative;
	top:50%;
	z-index: 299;
}
/*------------------------------------*/
.individual-single-black-triangle{

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 350px 400px 0 0;
	border-color: #282828 transparent transparent transparent;
}
/*------------------------------------*/
.price-number-first{
	position:absolute;
	top: 15px;
	left: 40px;
	font-size: 32px;
	font-weight: 600;
	color: #fd9a74;
}
.rus-rub-symbol-first{
	position:absolute;
	top: 48px;
	left: 140px;
}
.indi-excursions-text-first{
	position: absolute;
	left: 40px;
	top: 95px;
	width: 100px;
	color: white;
	font-size: 12px;
	text-align: left;
}
.number-of-people-first{
	position: absolute;
	left: 75px;
	top: 197px;
	color: white;
	font-size: 20px;
}
.single-person-img-first{
	position: absolute;
	left: 40px;
	top: 175px;
}
/*------------------------------------*/
.individual-single-gray-triangle{
	margin-top: -350px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 350px 400px;
	border-color: transparent transparent #464646 transparent;
}
/*------------------------------------*/
.indi-clocks-first{
	position: absolute;
	left: 330px;
	top: 175px;
}
.four-hours-first{
	position: absolute;
	left: 319px;
	top: 222px;
	color:white;
	font-size: 12px;
}
div.to-book-first{
	border: 3px solid #009991;
	border-radius: 20px;
	padding: 17px 40px 13px 40px;
	position: absolute;
	left: 134px;
	top: 275px;
	color:white;
	transition: all .2s ease-in-out;
}
div.to-book-first:hover{
	background-color: #009991;
	cursor:pointer;
}
div.to-book-first:active{
	transform: scale(.9);
}

/*------------------------------------*/
.individual-group-black-triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 350px 400px 0 0;
	border-color: #282828 transparent transparent transparent;
	opacity: .9;
}
/*------------------------------------*/
.price-number-second{
	position:absolute;
	top: 15px;
	left: 430px;
	font-size: 32px;
	font-weight: 600;
	color: #fd9a74;
}
.rus-rub-symbol-second{
	position:absolute;
	top: 48px;
	left: 530px;
}
.indi-excursions-text-second{
	position: absolute;
	left: 430px;
	top: 95px;
	width: 100px;
	color: white;
	font-size: 12px;
	text-align: left;
}
.number-of-people-second{
	position: absolute;
	left: 465px;
	top: 197px;
	color: white;
	font-size: 20px;
}
.single-person-img-second{
	position: absolute;
	left: 430px;
	top: 175px;
}
.star-second{
	position: absolute;
	color: white;
	left: 515px;
	top: 40px;
	font-size: 28px;
}
/*------------------------------------*/
.individual-group-gray-triangle{
	margin-top: -350px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 350px 400px;
	border-color: transparent transparent #464646 transparent;
	opacity: .9;
}
/*------------------------------------*/
.indi-clocks-second{
	position: absolute;
	left: 730px;
	top: 175px;
}
.four-hours-second{
	position: absolute;
	left: 720px;
	top: 222px;
	color:white;
	font-size: 12px;
}
div.to-book-second{
	border: 3px solid #009991;
	border-radius: 20px;
	padding: 17px 40px 13px 40px;
	position: absolute;
	left: 534px;
	top: 275px;
	color:white;
	transition: all .2s ease-in-out;
}
div.to-book-second:hover{
	background-color: #009991;
	cursor:pointer;
}
div.to-book-second:active{
	transform: scale(.9);
}
.star-description-second{
	color: white;
	position:absolute;
	left: 430px;
	top: 300px;
	font-size: 12px;
}
/*------------------------------------*/
.compound-group-black-triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 350px 400px 0 0;
	border-color: #282828 transparent transparent transparent;
	opacity: .8;
}
/*------------------------------------*/
.price-number-third{
	position:absolute;
	top: 15px;
	left: 830px;
	font-size: 32px;
	font-weight: 600;
	color: #fd9a74;
}
.rus-rub-symbol-third{
	position:absolute;
	top: 48px;
	left: 930px;
}
.indi-excursions-text-third{
	position: absolute;
	left: 830px;
	top: 95px;
	width: 100px;
	color: white;
	font-size: 12px;
	text-align: left;
}
.number-of-people-third{
	position: absolute;
	left: 865px;
	top: 197px;
	color: white;
	font-size: 20px;
}
.single-person-img-third{
	position: absolute;
	left: 830px;
	top: 175px;
}
.star-third{
	position: absolute;
	color: white;
	left: 907px;
	top: 40px;
	font-size: 28px;
}
/*------------------------------------*/
.compound-group-gray-triangle{
	margin-top: -350px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 350px 400px;
	border-color: transparent transparent #464646 transparent;
	opacity: .8;
}
/*------------------------------------*/
.indi-clocks-third{
	position: absolute;
	left: 1130px;
	top: 175px;
}
.four-hours-third{
	position: absolute;
	left: 1120px;
	top: 222px;
	color:white;
	font-size: 12px;
}
div.to-book-third{
	border: 3px solid #009991;
	border-radius: 20px;
	padding: 17px 40px 13px 40px;
	position: absolute;
	left: 934px;
	top: 275px;
	color:white;
	transition: all .2s ease-in-out;
}
div.to-book-third:hover{
	background-color: #009991;
	cursor:pointer;
}
div.to-book-third:active{
	transform: scale(.9);
}
.star-description-third{
	color: white;
	position:absolute;
	left: 830px;
	top: 300px;
	font-size: 12px;
}
/*------------------------------------*/
#fifth-section{
	position: relative;
	width: 100%;
	height:100vh;
	overflow: hidden;
	background-color:#464646;
	font-family: Comfortaa;
}
.fifth-section-wrapper{
	max-width: 800px;
	max-height: 400px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.phone-us-text{
	color: #fd9a74;
	font-size:32px;

}
.social-container{
	display: flex;
	justify-content: center;
	align-content: center;
}
.social-container div{
	position: relative;
	opacity: .7;
}
.social-container div:hover{
	opacity: 1;
}
.fb,.instagram{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 200px 250px 0;
	border-color: transparent #fff200 transparent transparent;
}
.vk,.telegram{
	margin-left:1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 250px 200px;
	border-color: transparent transparent transparent #fff200;
}
.fb-img,.instagram-img{
	position: absolute;
	top: 60px;
	left: 125px;
}
.vk-img{
	position: absolute;
	top: 63px;
	right: 110px;
}
.telegram-img{
	position: absolute;
	top: 58px;
	right: 118px;
}
.phone-number{
	color:white;
	font-size: 12px;
	position: absolute;
	bottom: 5%;
	left:5%;
}
.copy-rights{
	color:white;
	font-size: 12px;
	position: absolute;
	bottom: 5%;
	right:5%;
}
/*------------------------------------*/

